body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    text-align: center;
    color: #333;
    background-color: #fefefe;
}

p {
    margin-top: 40vh;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #eee;
    }
}